:root {
  --md-primary-fg-color:        #409ab5;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

.md-header__button.md-logo img{
  height: 3rem;
  width: 3rem;
}

.md-header__title {
    font-size: xx-large;
    line-height: 2.4rem;
}
